@font-face {
  font-family: 'ALS Hauss'; 
  src: url(./shared/font/ALSHauss-Bold.ttf); 
  font-style: normal;
  font-weight: 700;
}

body {
  margin: 0;
  font-family: 'ALS Hauss';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 100%; 
  list-style: none;       
  
  .outer {
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 2);
  
    $angle: (360 / $item-count);
    $rot: 90;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: 
          rotate($rot * 1deg) 
          translate($circle-size / 2) 
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

@mixin on-circle-text($item-count, $width, $height, $item-size) {
  position: relative;
  width:  $width;
  height: $height;
  padding: 0;
  border-radius: 100%; 
  list-style: none;       
  
  .text {
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  $item-size;
    height: $item-size ;
    margin: -($item-size / 2);
  
    $angle: (360 / $item-count);
    $rot: 90;

    @for $i from 1 through $item-count + 1 {
      &:nth-of-type(#{$i}) {
        transform: 
          rotate($rot * 1deg) 
          translate($height / 2) 
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}